
main {
	padding: 60px 0px;
	display: grid;
  grid-template: repeat(3, auto) / repeat(2, auto);
	grid-gap: 10px;
	place-items: center;
}

#planets {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
}

#timeLeft {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

#credits {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#starships {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

@media only screen and (max-width: 760px) {
	main {
		display: flex;
		flex-direction: column;
	}
	
	#planets {
		order: 3;
	}
	
	#timeLeft {
		order: 1;
	}
	
	#credits {
		order: 2;
	}
	
	#starships {
		order: 4;
	}
}


h1 {
  text-align: center;
}

#planets, #starships, #timeLeft, #credits {
	padding: 10px 30px;
}

#planets h1, #starships h1, #timeLeft, #credits {
	font-family: Anurati;
}

#planets .cords, #starships .place, #starships .place a {
	color: #b77f7f;
}

#starships .place .travel, #starships .place .travel a {
	color: #438d43;
}

#timeLeft .number, #credits .number {
	color: #7c7cf2;
	font-size: 23px;
}


#planetScreen-div > section {
	text-align: center;
}

#planetScreen-div .item, #planetScreen-div .ship {
	margin: 10px auto;
}

#planetScreen-div .item span {
	margin: 0px 5px;
}


#starshipScreen-div > section, #starshipScreenVoyage-div > section {
	text-align: center;
}

#starshipScreen-div .form div {
	margin: 5px auto;
}

#starshipScreen-div #trade-amount {
	width: 50px;
}
