
main {
	padding: 60px 0px;
	text-align: center;
}

.player {
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin: 0px auto;
}

@media only screen and (max-width: 420px) {
	.player {
		width: calc(100% - 20px);
	}
}

.player .number {
	color: #b77f7f;
}

#playGame {
	margin-top: 50px;
	font-size: 30px;
}

#playGame, #bestScores > h1, #login-div h1 {
	font-family: Anurati;
}

#login-div > section {
	text-align: center;
}

#login-form div:first-child {
	margin: 0px auto 15px;
}
